/* COLOR VARIABLES */
/* FONT VARIABLES */
/* DISPLAY NONE */
* {
  margin: 0;
  padding: 0; }

body {
  background-image: url("../images/white-fabric-bg.jpg");
  background-attachment: fixed;
  font-family: "Familjen Grotesk" !important;
  font-size: 1.2em !important; }

.ocultar {
  display: none; }

/* HEADER */
.search-box {
  width: 45% !important;
  background-color: transparent !important;
  border: 1px solid grey !important; }

.nav-link {
  color: black !important; }

.nav-link-header {
  position: relative !important; }

.nav-link-header:after {
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 1px;
  transition: 0.3s; }

.nav-link:hover:after {
  width: 100%; }

/* CARRUSEL DE IMAGENES */
.carousel-inner {
  max-height: 800px !important; }

/* CATEGORIAS DE PRODUCTOS */
.category-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  justify-content: space-evenly;
  max-width: 1600px;
  margin: auto; }

.category-element-container {
  width: 20em;
  height: 20em;
  background-size: cover; }

.ct-el-1 {
  background-image: url("../images/tela1.webp"); }

.ct-el-2 {
  background-image: url("../images/hilosdealgodon.jpg"); }

.ct-el-3 {
  background-image: url("../images/tulconbrillo.jpg"); }

.ct-el-4 {
  background-image: url("../images/lurex.jpg"); }

.ct-el-5 {
  background-image: url("../images/nidodeabeja.jpeg"); }

.ct-el-6 {
  background-image: url("../images/gasa.webp"); }

/* CURSOS */
.bg-creative {
  background-image: url("../images/bg-hojas2.webp");
  background-attachment: fixed; }

.creative-title {
  background-color: black;
  display: inline-block;
  padding: 0.6em;
  margin-top: 0.5em !important; }

.creative-container-img {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.img-creative {
  min-width: 292px; }

/* HOVER DE LOS LINKS */
.footer-nav a:hover, .category-element-container a:hover {
  color: grey !important; }

/* BG FOOTER */
.container-footer {
  background-color: rgba(140, 140, 140, 0.3); }

/* ------------PRODUCTOS-------------- */
.prod-cat-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr; }

.cat-container {
  justify-self: center; }

.prod-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center !important; }
  .prod-container div img {
    transition: .3s !important; }
    .prod-container div img:hover {
      transform: scale(1.2); }

.navbar-container-cat {
  flex-flow: column;
  align-items: flex-start !important; }

/* ------------PAGINA-CONTACTO-------------- */
.bg-main-contacto {
  width: 80%;
  background-color: rgba(250, 250, 250, 0.5);
  margin: auto;
  border-radius: 20px; }

.form-col {
  max-width: 516px !important;
  margin: auto !important; }

/* PAGINA: PREGUNTAS FRECUENTES */
.bg-main-preguntas {
  background-color: rgba(250, 250, 250, 0.5);
  width: 80%;
  margin: auto;
  border-radius: 20px; }

/* PAGINA: INSPIRATE */
.scale-effect img {
  transition: .3s; }
  .scale-effect img:hover {
    transform: scale(1.2); }

/* MEDIA QUERIES */
@media screen and (max-width: 1400px) {
  .scale-effect {
    margin: 30px 0px !important; } }

@media screen and (max-width: 1260px) {
  .category-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
  .category-element-container {
    width: 17em;
    height: 17em; } }

@media screen and (max-width: 1220px) {
  .prod-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr 1fr; } }

@media screen and (max-width: 1166px) {
  .img-inspire img {
    width: 90%; }
  .img-inspire {
    flex-direction: column;
    justify-content: center; } }

@media screen and (max-width: 1000px) {
  .prod-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center; }
  .prod-cat-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3% 1fr; }
  .navbar-container-cat {
    background-color: white;
    margin-top: 1em;
    padding: 1em;
    border-radius: 20px; }
  .cat-container {
    width: 100%; } }

@media screen and (max-width: 963px) {
  .creative-container-img {
    justify-content: space-evenly; } }

@media screen and (max-width: 767px) {
  .orden {
    order: 3 !important; } }

@media screen and (max-width: 760px) {
  .category-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
  .category-element-container {
    width: 17em;
    height: 17em; }
  .ct-el-4, .ct-el-5, .ct-el-6 {
    display: none; }
  .medios-formas {
    display: none; } }

@media screen and (max-width: 646px) {
  .prod-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center; }
    .prod-container div {
      text-align: center;
      width: 175px !important; }
      .prod-container div img {
        width: 175px; } }

@media screen and (max-width: 571px) {
  .contacto-footer {
    display: none; } }

@media screen and (max-width: 391px) {
  .bg-main-preguntas {
    width: 90%;
    margin-top: 1.5em; }
  .img-preg {
    width: 70px; } }
